.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
  }

.checked{
    color: orange;
}

.unchecked{
    color: gray;
}

.offcanvas-top{
    height: fit-content;
}

li{
    color: aliceblue;
    list-style: none;
    margin-bottom: 2%;
    padding: 1%;
}

a{
    color: #dc3545;
}

.dropdown{
    position: absolute;
    right: 0;
}

.col-11{
    color: gray;
}

li.movieItem{
    border-color: black;
    border-style: solid;
    border-width: thin;
}

.rating{
    float: right;
}